@model TransactionVisualizerWebsite.Models.StockUpdateParameters
@{
    ViewData["Title"] = "Transaction visualizer";
}
<div class="center-rounded-corners">
    <form asp-action="UpdateStock" class="text-center" onsubmit="disableButton();">
        <h1>Transaction Tester</h1>
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
        <br /><input type="submit" id="submitOrderButton" value="Submit order" style="min-width:220px" class="btn btn-lg btn-primary"  />
    </form>
</div>
<div class="center-rounded-corners" style="background-color:#fff;max-width:450px;">
    <div class="text-center mx-auto" style="margin:20px;">
        <div class="btn-group mr-2 pull-left" role="group" aria-label="First group">
            <a href="/home/ChangeStock?changeInStock=-1" class="btn btn-outline-dark btn-lg">-1</a>
            <a href="/home/ChangeStock?changeInStock=-5" class="btn btn-outline-dark btn-lg">-5</a>
        </div>
        <span class="pull-left" style="margin:5px;margin-top:20px;font-size:x-large;font-weight:bold;">@ViewData["currentStock"] in stock</span>
        <div class="btn-group mr-2 pull-left" role="group" aria-label="Second group">
            <a href="/home/ChangeStock?changeInStock=5" class="btn btn-outline-dark btn-lg">+5</a>
            <a href="/home/ChangeStock?changeInStock=1" class="btn btn-outline-dark btn-lg">+1</a>
        </div>
    </div>
    <div class="mx-auto" style="margin:0px auto;text-align:center;margin-top:10px;">
        <a href="javascript:window.open(window.location.href, makeId(), '_new');">new window</a>
        <a href="javascript:window.open(window.location.href, makeId(), '_new');"><img src="/gfx/new_window.svg" style="width:16px" /></a>
    </div>
</div>
<script>
    function disableButton(){
        let submitButton = document.getElementById("submitOrderButton");
        submitButton.value = "submitting";
        submitButton.disabled = true;
        setInterval(()=>{submitButton.value += " ."}, 1000);
        return true;
    }
</script>
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}